doc/wsdl/bantel/client/backoffice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RipeaBackofficeService" targetNamespace="http://www.caib.es/ripea/ws/backoffice" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/ripea/ws/backoffice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.caib.es/ripea/ws/backoffice" version="1.0" xmlns:tns="http://www.caib.es/ripea/ws/backoffice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="processarAnotacio" type="tns:processarAnotacio"/>
<xs:element name="processarAnotacioResponse" type="tns:processarAnotacioResponse"/>
<xs:complexType name="processarAnotacio">
<xs:sequence>
<xs:element name="registreEntrada" type="tns:registreAnotacio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="registreAnotacio">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="annexos" nillable="true" type="tns:registreAnnex"/>
<xs:element minOccurs="0" name="aplicacioCodi" type="xs:string"/>
<xs:element minOccurs="0" name="aplicacioVersio" type="xs:string"/>
<xs:element minOccurs="0" name="assumpteCodi" type="xs:string"/>
<xs:element minOccurs="0" name="assumpteDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="assumpteTipusCodi" type="xs:string"/>
<xs:element minOccurs="0" name="assumpteTipusDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:dateTime"/>
<xs:element minOccurs="0" name="documentacioFisicaCodi" type="xs:string"/>
<xs:element minOccurs="0" name="documentacioFisicaDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="entitatCodi" type="xs:string"/>
<xs:element minOccurs="0" name="entitatDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="expedientNumero" type="xs:string"/>
<xs:element minOccurs="0" name="exposa" type="xs:string"/>
<xs:element minOccurs="0" name="extracte" type="xs:string"/>
<xs:element minOccurs="0" name="identificador" type="xs:string"/>
<xs:element minOccurs="0" name="idiomaCodi" type="xs:string"/>
<xs:element minOccurs="0" name="idiomaDescripcio" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="interessats" nillable="true" type="tns:registreInteressat"/>
<xs:element minOccurs="0" name="llibreCodi" type="xs:string"/>
<xs:element minOccurs="0" name="llibreDescripcio" type="xs:string"/>
<xs:element name="numero" type="xs:int"/>
<xs:element minOccurs="0" name="observacions" type="xs:string"/>
<xs:element minOccurs="0" name="oficinaCodi" type="xs:string"/>
<xs:element minOccurs="0" name="oficinaDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="referencia" type="xs:string"/>
<xs:element minOccurs="0" name="solicita" type="xs:string"/>
<xs:element minOccurs="0" name="transportNumero" type="xs:string"/>
<xs:element minOccurs="0" name="transportTipusCodi" type="xs:string"/>
<xs:element minOccurs="0" name="transportTipusDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="usuariCodi" type="xs:string"/>
<xs:element minOccurs="0" name="usuariContacte" type="xs:string"/>
<xs:element minOccurs="0" name="usuariNom" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="registreAnnex">
<xs:sequence>
<xs:element minOccurs="0" name="dataCaptura" type="xs:dateTime"/>
<xs:element minOccurs="0" name="firmaCsv" type="xs:string"/>
<xs:element minOccurs="0" name="firmaFitxerGestioDocumentalId" type="xs:string"/>
<xs:element minOccurs="0" name="firmaFitxerNom" type="xs:string"/>
<xs:element name="firmaFitxerTamany" type="xs:int"/>
<xs:element minOccurs="0" name="firmaFitxerTipusMime" type="xs:string"/>
<xs:element minOccurs="0" name="firmaMode" type="xs:int"/>
<xs:element minOccurs="0" name="fitxerGestioDocumentalId" type="xs:string"/>
<xs:element minOccurs="0" name="fitxerNom" type="xs:string"/>
<xs:element name="fitxerTamany" type="xs:int"/>
<xs:element minOccurs="0" name="fitxerTipusMime" type="xs:string"/>
<xs:element minOccurs="0" name="localitzacio" type="xs:string"/>
<xs:element minOccurs="0" name="ntiElaboracioEstat" type="xs:string"/>
<xs:element minOccurs="0" name="ntiTipusDocument" type="xs:string"/>
<xs:element minOccurs="0" name="observacions" type="xs:string"/>
<xs:element minOccurs="0" name="origenCiutadaAdmin" type="xs:string"/>
<xs:element minOccurs="0" name="sicresTipusDocument" type="xs:string"/>
<xs:element minOccurs="0" name="timestamp" type="xs:string"/>
<xs:element minOccurs="0" name="titol" type="xs:string"/>
<xs:element minOccurs="0" name="validacioOCSP" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="registreInteressat">
<xs:sequence>
<xs:element minOccurs="0" name="adresa" type="xs:string"/>
<xs:element minOccurs="0" name="canalPreferent" type="xs:string"/>
<xs:element minOccurs="0" name="codiPostal" type="xs:string"/>
<xs:element minOccurs="0" name="documentNum" type="xs:string"/>
<xs:element minOccurs="0" name="documentTipus" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="emailHabilitat" type="xs:string"/>
<xs:element minOccurs="0" name="llinatge1" type="xs:string"/>
<xs:element minOccurs="0" name="llinatge2" type="xs:string"/>
<xs:element minOccurs="0" name="municipi" type="xs:string"/>
<xs:element minOccurs="0" name="nom" type="xs:string"/>
<xs:element minOccurs="0" name="observacions" type="xs:string"/>
<xs:element minOccurs="0" name="pais" type="xs:string"/>
<xs:element minOccurs="0" name="provincia" type="xs:string"/>
<xs:element minOccurs="0" name="raoSocial" type="xs:string"/>
<xs:element minOccurs="0" name="representant" type="tns:registreInteressat"/>
<xs:element minOccurs="0" name="telefon" type="xs:string"/>
<xs:element minOccurs="0" name="tipus" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="processarAnotacioResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ripeaBackofficeResultatProces"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ripeaBackofficeResultatProces">
<xs:sequence>
<xs:element name="error" type="xs:boolean"/>
<xs:element minOccurs="0" name="errorCodi" type="xs:string"/>
<xs:element minOccurs="0" name="errorDescripcio" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="processarAnotacioResponse">
    <wsdl:part element="tns:processarAnotacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processarAnotacio">
    <wsdl:part element="tns:processarAnotacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RipeaBackoffice">
    <wsdl:operation name="processarAnotacio">
      <wsdl:input message="tns:processarAnotacio" name="processarAnotacio">
    </wsdl:input>
      <wsdl:output message="tns:processarAnotacioResponse" name="processarAnotacioResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RipeaBackofficeServiceSoapBinding" type="tns:RipeaBackoffice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processarAnotacio">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processarAnotacio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processarAnotacioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RipeaBackofficeService">
    <wsdl:port binding="tns:RipeaBackofficeServiceSoapBinding" name="RipeaBackofficeServicePort">
      <soap:address location="http://127.0.0.1:8080/ripea/ws/backoffice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>