doc/wsdl/bustiav1.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BustiaV1Service" targetNamespace="http://www.caib.es/ripea/ws/v1/bustia" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/ripea/ws/v1/bustia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.caib.es/ripea/ws/v1/bustia" version="1.0" xmlns:tns="http://www.caib.es/ripea/ws/v1/bustia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="enviarAnotacioRegistreEntrada" type="tns:enviarAnotacioRegistreEntrada" />
<xs:element name="enviarAnotacioRegistreEntradaResponse" type="tns:enviarAnotacioRegistreEntradaResponse" />
<xs:element name="enviarDocument" type="tns:enviarDocument" />
<xs:element name="enviarDocumentResponse" type="tns:enviarDocumentResponse" />
<xs:element name="enviarExpedient" type="tns:enviarExpedient" />
<xs:element name="enviarExpedientResponse" type="tns:enviarExpedientResponse" />
<xs:complexType name="enviarDocument">
<xs:sequence>
<xs:element name="entitat" type="xs:string" />
<xs:element name="unitatAdministrativa" type="xs:string" />
<xs:element name="referenciaDocument" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="enviarDocumentResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="enviarExpedient">
<xs:sequence>
<xs:element name="entitat" type="xs:string" />
<xs:element name="unitatAdministrativa" type="xs:string" />
<xs:element name="referenciaExpedient" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="enviarExpedientResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="enviarAnotacioRegistreEntrada">
<xs:sequence>
<xs:element name="entitat" type="xs:string" />
<xs:element name="unitatAdministrativa" type="xs:string" />
<xs:element name="registreEntrada" type="tns:registreAnotacio" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="registreAnotacio">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="annexos" nillable="true" type="tns:registreAnnex" />
<xs:element minOccurs="0" name="aplicacioCodi" type="xs:string" />
<xs:element minOccurs="0" name="aplicacioVersio" type="xs:string" />
<xs:element minOccurs="0" name="assumpteCodi" type="xs:string" />
<xs:element minOccurs="0" name="assumpteDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="assumpteTipusCodi" type="xs:string" />
<xs:element minOccurs="0" name="assumpteTipusDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="data" type="xs:dateTime" />
<xs:element minOccurs="0" name="dataOrigen" type="xs:dateTime" />
<xs:element minOccurs="0" name="documentacioFisicaCodi" type="xs:string" />
<xs:element minOccurs="0" name="documentacioFisicaDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="entitatCodi" type="xs:string" />
<xs:element minOccurs="0" name="entitatDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="expedientNumero" type="xs:string" />
<xs:element minOccurs="0" name="exposa" type="xs:string" />
<xs:element minOccurs="0" name="extracte" type="xs:string" />
<xs:element minOccurs="0" name="identificador" type="xs:string" />
<xs:element minOccurs="0" name="idiomaCodi" type="xs:string" />
<xs:element minOccurs="0" name="idiomaDescripcio" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="interessats" nillable="true" type="tns:registreInteressat" />
<xs:element minOccurs="0" name="justificant" type="tns:registreAnnex" />
<xs:element minOccurs="0" name="llibreCodi" type="xs:string" />
<xs:element minOccurs="0" name="llibreDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="numero" type="xs:string" />
<xs:element minOccurs="0" name="numeroOrigen" type="xs:string" />
<xs:element minOccurs="0" name="observacions" type="xs:string" />
<xs:element minOccurs="0" name="oficinaCodi" type="xs:string" />
<xs:element minOccurs="0" name="oficinaDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="oficinaOrigenCodi" type="xs:string" />
<xs:element minOccurs="0" name="oficinaOrigenDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="referencia" type="xs:string" />
<xs:element minOccurs="0" name="solicita" type="xs:string" />
<xs:element minOccurs="0" name="transportNumero" type="xs:string" />
<xs:element minOccurs="0" name="transportTipusCodi" type="xs:string" />
<xs:element minOccurs="0" name="transportTipusDescripcio" type="xs:string" />
<xs:element minOccurs="0" name="usuariCodi" type="xs:string" />
<xs:element minOccurs="0" name="usuariContacte" type="xs:string" />
<xs:element minOccurs="0" name="usuariNom" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="registreAnnex">
<xs:sequence>
<xs:element minOccurs="0" name="eniDataCaptura" type="xs:dateTime" />
<xs:element minOccurs="0" name="eniEstatElaboracio" type="xs:string" />
<xs:element minOccurs="0" name="eniOrigen" type="xs:string" />
<xs:element minOccurs="0" name="eniTipusDocumental" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="firmes" nillable="true" type="tns:firma" />
<xs:element minOccurs="0" name="fitxerArxiuUuid" type="xs:string" />
<xs:element minOccurs="0" name="fitxerContingut" type="xs:base64Binary" />
<xs:element minOccurs="0" name="fitxerNom" type="xs:string" />
<xs:element name="fitxerTamany" type="xs:int" />
<xs:element minOccurs="0" name="fitxerTipusMime" type="xs:string" />
<xs:element minOccurs="0" name="id" type="xs:long" />
<xs:element minOccurs="0" name="localitzacio" type="xs:string" />
<xs:element minOccurs="0" name="observacions" type="xs:string" />
<xs:element minOccurs="0" name="sicresTipusDocument" type="xs:string" />
<xs:element minOccurs="0" name="timestamp" type="xs:string" />
<xs:element minOccurs="0" name="titol" type="xs:string" />
<xs:element minOccurs="0" name="validacioOCSP" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="firma">
<xs:sequence>
<xs:element minOccurs="0" name="contingut" type="xs:base64Binary" />
<xs:element minOccurs="0" name="csv" type="xs:string" />
<xs:element minOccurs="0" name="csvRegulacio" type="xs:string" />
<xs:element minOccurs="0" name="fitxerNom" type="xs:string" />
<xs:element minOccurs="0" name="perfil" type="xs:string" />
<xs:element minOccurs="0" name="tipus" type="xs:string" />
<xs:element minOccurs="0" name="tipusMime" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="registreInteressat">
<xs:sequence>
<xs:element minOccurs="0" name="adresa" type="xs:string" />
<xs:element minOccurs="0" name="canalPreferent" type="xs:string" />
<xs:element minOccurs="0" name="codiPostal" type="xs:string" />
<xs:element minOccurs="0" name="documentNum" type="xs:string" />
<xs:element minOccurs="0" name="documentTipus" type="xs:string" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="emailHabilitat" type="xs:string" />
<xs:element minOccurs="0" name="llinatge1" type="xs:string" />
<xs:element minOccurs="0" name="llinatge2" type="xs:string" />
<xs:element minOccurs="0" name="municipi" type="xs:string" />
<xs:element minOccurs="0" name="nom" type="xs:string" />
<xs:element minOccurs="0" name="observacions" type="xs:string" />
<xs:element minOccurs="0" name="pais" type="xs:string" />
<xs:element minOccurs="0" name="provincia" type="xs:string" />
<xs:element minOccurs="0" name="raoSocial" type="xs:string" />
<xs:element minOccurs="0" name="representant" type="tns:registreInteressat" />
<xs:element minOccurs="0" name="telefon" type="xs:string" />
<xs:element minOccurs="0" name="tipus" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="enviarAnotacioRegistreEntradaResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="enviarDocument">
    <wsdl:part element="tns:enviarDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarAnotacioRegistreEntrada">
    <wsdl:part element="tns:enviarAnotacioRegistreEntrada" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarExpedientResponse">
    <wsdl:part element="tns:enviarExpedientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarExpedient">
    <wsdl:part element="tns:enviarExpedient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarAnotacioRegistreEntradaResponse">
    <wsdl:part element="tns:enviarAnotacioRegistreEntradaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDocumentResponse">
    <wsdl:part element="tns:enviarDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BustiaV1">
    <wsdl:operation name="enviarDocument">
      <wsdl:input message="tns:enviarDocument" name="enviarDocument">
    </wsdl:input>
      <wsdl:output message="tns:enviarDocumentResponse" name="enviarDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarExpedient">
      <wsdl:input message="tns:enviarExpedient" name="enviarExpedient">
    </wsdl:input>
      <wsdl:output message="tns:enviarExpedientResponse" name="enviarExpedientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarAnotacioRegistreEntrada">
      <wsdl:input message="tns:enviarAnotacioRegistreEntrada" name="enviarAnotacioRegistreEntrada">
    </wsdl:input>
      <wsdl:output message="tns:enviarAnotacioRegistreEntradaResponse" name="enviarAnotacioRegistreEntradaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BustiaV1ServiceSoapBinding" type="tns:BustiaV1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviarDocument">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="enviarDocument">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="enviarDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarExpedient">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="enviarExpedient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="enviarExpedientResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarAnotacioRegistreEntrada">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="enviarAnotacioRegistreEntrada">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="enviarAnotacioRegistreEntradaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BustiaV1Service">
    <wsdl:port binding="tns:BustiaV1ServiceSoapBinding" name="BustiaV1ServicePort">
      <soap:address location="http://PROGRAMACIO14:8080/ripea/ws/v1/bustia" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>