doc/wsdl/bustiav1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BustiaV1Service" targetNamespace="http://www.caib.es/ripea/ws/v1/bustia" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/ripea/ws/v1/bustia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
	<xs:schema version="1.0" targetNamespace="http://www.caib.es/ripea/ws/v1/bustia" xmlns:tns="http://www.caib.es/ripea/ws/v1/bustia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	   <xs:element name="enviarAnotacioRegistreEntrada" type="tns:enviarAnotacioRegistreEntrada"/>
	   <xs:element name="enviarAnotacioRegistreEntradaResponse" type="tns:enviarAnotacioRegistreEntradaResponse"/>
	   <xs:element name="enviarDocument" type="tns:enviarDocument"/>
	   <xs:element name="enviarDocumentResponse" type="tns:enviarDocumentResponse"/>
	   <xs:element name="enviarExpedient" type="tns:enviarExpedient"/>
	   <xs:element name="enviarExpedientResponse" type="tns:enviarExpedientResponse"/>
	   <xs:complexType name="enviarExpedient">
	      <xs:sequence>
	         <xs:element name="entitat" type="xs:string"/>
	         <xs:element name="unitatAdministrativa" type="xs:string"/>
	         <xs:element name="referenciaExpedient" type="xs:string"/>
	      </xs:sequence>
	   </xs:complexType>
	   <xs:complexType name="enviarExpedientResponse">
	      <xs:sequence/>
	   </xs:complexType>
	   <xs:complexType name="enviarAnotacioRegistreEntrada">
	      <xs:sequence>
	         <xs:element name="entitat" type="xs:string"/>
	         <xs:element name="unitatAdministrativa" type="xs:string"/>
	         <xs:element name="registreEntrada" type="tns:registreAnotacio"/>
	      </xs:sequence>
	   </xs:complexType>
	   <xs:complexType name="registreAnotacio">
	      <xs:sequence>
	         <xs:element name="annexos" type="tns:registreAnnex" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
	         <xs:element name="aplicacioCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="aplicacioVersio" type="xs:string" minOccurs="0"/>
	         <xs:element name="assumpteCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="assumpteDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="assumpteTipusCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="assumpteTipusDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="data" type="xs:dateTime" minOccurs="0"/>
	         <xs:element name="dataOrigen" type="xs:dateTime" minOccurs="0"/>
	         <xs:element name="documentacioFisicaCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="documentacioFisicaDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="entitatCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="entitatDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="expedientNumero" type="xs:string" minOccurs="0"/>
	         <xs:element name="exposa" type="xs:string" minOccurs="0"/>
	         <xs:element name="extracte" type="xs:string" minOccurs="0"/>
	         <xs:element name="identificador" type="xs:string" minOccurs="0"/>
	         <xs:element name="idiomaCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="idiomaDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="interessats" type="tns:registreInteressat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
	         <xs:element name="llibreCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="llibreDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="numero" type="xs:int"/>
	         <xs:element name="observacions" type="xs:string" minOccurs="0"/>
	         <xs:element name="oficinaCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="oficinaDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="oficinaOrigenCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="oficinaOrigenDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="referencia" type="xs:string" minOccurs="0"/>
	         <xs:element name="solicita" type="xs:string" minOccurs="0"/>
	         <xs:element name="transportNumero" type="xs:string" minOccurs="0"/>
	         <xs:element name="transportTipusCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="transportTipusDescripcio" type="xs:string" minOccurs="0"/>
	         <xs:element name="usuariCodi" type="xs:string" minOccurs="0"/>
	         <xs:element name="usuariContacte" type="xs:string" minOccurs="0"/>
	         <xs:element name="usuariNom" type="xs:string" minOccurs="0"/>
	      </xs:sequence>
	   </xs:complexType>
	   <xs:complexType name="registreAnnex">
	      <xs:sequence>
	         <xs:element name="dataCaptura" type="xs:dateTime" minOccurs="0"/>
	         <xs:element name="firmaCsv" type="xs:string" minOccurs="0"/>
	         <xs:element name="firmaFitxerArxiuUuid" type="xs:string" minOccurs="0"/>
	         <xs:element name="firmaFitxerContingutBase64" type="xs:string" minOccurs="0"/>
	         <xs:element name="firmaFitxerNom" type="xs:string" minOccurs="0"/>
	         <xs:element name="firmaFitxerTamany" type="xs:int"/>
	         <xs:element name="firmaFitxerTipusMime" type="xs:string" minOccurs="0"/>
	         <xs:element name="firmaMode" type="xs:int" minOccurs="0"/>
	         <xs:element name="fitxerArxiuUuid" type="xs:string" minOccurs="0"/>
	         <xs:element name="fitxerContingutBase64" type="xs:string" minOccurs="0"/>
	         <xs:element name="fitxerNom" type="xs:string" minOccurs="0"/>
	         <xs:element name="fitxerTamany" type="xs:int"/>
	         <xs:element name="fitxerTipusMime" type="xs:string" minOccurs="0"/>
	         <xs:element name="localitzacio" type="xs:string" minOccurs="0"/>
	         <xs:element name="ntiElaboracioEstat" type="xs:string" minOccurs="0"/>
	         <xs:element name="ntiTipusDocument" type="xs:string" minOccurs="0"/>
	         <xs:element name="observacions" type="xs:string" minOccurs="0"/>
	         <xs:element name="origenCiutadaAdmin" type="xs:string" minOccurs="0"/>
	         <xs:element name="sicresTipusDocument" type="xs:string" minOccurs="0"/>
	         <xs:element name="timestamp" type="xs:string" minOccurs="0"/>
	         <xs:element name="titol" type="xs:string" minOccurs="0"/>
	         <xs:element name="validacioOCSP" type="xs:string" minOccurs="0"/>
	      </xs:sequence>
	   </xs:complexType>
	   <xs:complexType name="registreInteressat">
	      <xs:sequence>
	         <xs:element name="adresa" type="xs:string" minOccurs="0"/>
	         <xs:element name="canalPreferent" type="xs:string" minOccurs="0"/>
	         <xs:element name="codiPostal" type="xs:string" minOccurs="0"/>
	         <xs:element name="documentNum" type="xs:string" minOccurs="0"/>
	         <xs:element name="documentTipus" type="xs:string" minOccurs="0"/>
	         <xs:element name="email" type="xs:string" minOccurs="0"/>
	         <xs:element name="emailHabilitat" type="xs:string" minOccurs="0"/>
	         <xs:element name="llinatge1" type="xs:string" minOccurs="0"/>
	         <xs:element name="llinatge2" type="xs:string" minOccurs="0"/>
	         <xs:element name="municipi" type="xs:string" minOccurs="0"/>
	         <xs:element name="nom" type="xs:string" minOccurs="0"/>
	         <xs:element name="observacions" type="xs:string" minOccurs="0"/>
	         <xs:element name="pais" type="xs:string" minOccurs="0"/>
	         <xs:element name="provincia" type="xs:string" minOccurs="0"/>
	         <xs:element name="raoSocial" type="xs:string" minOccurs="0"/>
	         <xs:element name="representant" type="tns:registreInteressat" minOccurs="0"/>
	         <xs:element name="telefon" type="xs:string" minOccurs="0"/>
	         <xs:element name="tipus" type="xs:string" minOccurs="0"/>
	      </xs:sequence>
	   </xs:complexType>
	   <xs:complexType name="enviarAnotacioRegistreEntradaResponse">
	      <xs:sequence/>
	   </xs:complexType>
	   <xs:complexType name="enviarDocument">
	      <xs:sequence>
	         <xs:element name="entitat" type="xs:string"/>
	         <xs:element name="unitatAdministrativa" type="xs:string"/>
	         <xs:element name="referenciaDocument" type="xs:string"/>
	      </xs:sequence>
	   </xs:complexType>
	   <xs:complexType name="enviarDocumentResponse">
	      <xs:sequence/>
	   </xs:complexType>
	</xs:schema>
  </wsdl:types>
  <wsdl:message name="enviarAnotacioRegistreEntrada">
    <wsdl:part element="tns:enviarAnotacioRegistreEntrada" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDocument">
    <wsdl:part element="tns:enviarDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarExpedientResponse">
    <wsdl:part element="tns:enviarExpedientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDocumentResponse">
    <wsdl:part element="tns:enviarDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarAnotacioRegistreEntradaResponse">
    <wsdl:part element="tns:enviarAnotacioRegistreEntradaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarExpedient">
    <wsdl:part element="tns:enviarExpedient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BustiaV1">
    <wsdl:operation name="enviarExpedient">
      <wsdl:input message="tns:enviarExpedient" name="enviarExpedient">
    </wsdl:input>
      <wsdl:output message="tns:enviarExpedientResponse" name="enviarExpedientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarDocument">
      <wsdl:input message="tns:enviarDocument" name="enviarDocument">
    </wsdl:input>
      <wsdl:output message="tns:enviarDocumentResponse" name="enviarDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarAnotacioRegistreEntrada">
      <wsdl:input message="tns:enviarAnotacioRegistreEntrada" name="enviarAnotacioRegistreEntrada">
    </wsdl:input>
      <wsdl:output message="tns:enviarAnotacioRegistreEntradaResponse" name="enviarAnotacioRegistreEntradaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BustiaV1ServiceSoapBinding" type="tns:BustiaV1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enviarExpedient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enviarExpedient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarExpedientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enviarDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarAnotacioRegistreEntrada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enviarAnotacioRegistreEntrada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarAnotacioRegistreEntradaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BustiaV1Service">
    <wsdl:port binding="tns:BustiaV1ServiceSoapBinding" name="BustiaV1ServicePort">
      <soap:address location="http://127.0.0.1:8080/ripea/ws/v1/bustia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>