doc/wsdl/bustiav0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BustiaV0Service" targetNamespace="http://www.caib.es/ripea/ws/v0/bustia" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/ripea/ws/v0/bustia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.caib.es/ripea/ws/v0/bustia" version="1.0" xmlns:tns="http://www.caib.es/ripea/ws/v0/bustia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="enviarContingut" type="tns:enviarContingut"/>
<xs:element name="enviarContingutResponse" type="tns:enviarContingutResponse"/>
<xs:complexType name="enviarContingut">
<xs:sequence>
<xs:element name="entitat" type="xs:string"/>
<xs:element name="unitatAdministrativa" type="xs:string"/>
<xs:element name="tipus" type="tns:bustiaContingutTipus"/>
<xs:element name="referencia" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enviarContingutResponse">
<xs:sequence/>
</xs:complexType>
<xs:simpleType name="bustiaContingutTipus">
<xs:restriction base="xs:string">
<xs:enumeration value="EXPEDIENT"/>
<xs:enumeration value="DOCUMENT"/>
<xs:enumeration value="REGISTRE_ENTRADA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="enviarContingutResponse">
    <wsdl:part element="tns:enviarContingutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarContingut">
    <wsdl:part element="tns:enviarContingut" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BustiaV0">
    <wsdl:operation name="enviarContingut">
      <wsdl:input message="tns:enviarContingut" name="enviarContingut">
    </wsdl:input>
      <wsdl:output message="tns:enviarContingutResponse" name="enviarContingutResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BustiaV0ServiceSoapBinding" type="tns:BustiaV0">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enviarContingut">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enviarContingut">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarContingutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BustiaV0Service">
    <wsdl:port binding="tns:BustiaV0ServiceSoapBinding" name="BustiaV0ServicePort">
      <soap:address location="http://127.0.0.1:8080/ripea/ws/v0/bustia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>