doc/wsdl/ripeaCarregaTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/ripea/ws/ripeacarregatest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.caib.es/ripea/ws/ripeacarregatest" name="RipeaCarregaTest">
<types>
<xsd:schema>
<xsd:import namespace="http://www.caib.es/ripea/ws/ripeacarregatest" schemaLocation="http://10.35.3.118:8080/ripea/ws/ripeaCarregaTest?xsd=1"/>
</xsd:schema>
</types>
<message name="crearEntitat">
<part name="parameters" element="tns:crearEntitat"/>
</message>
<message name="crearEntitatResponse">
<part name="parameters" element="tns:crearEntitatResponse"/>
</message>
<message name="assignaPermisEntitat">
<part name="parameters" element="tns:assignaPermisEntitat"/>
</message>
<message name="assignaPermisEntitatResponse">
<part name="parameters" element="tns:assignaPermisEntitatResponse"/>
</message>
<message name="crearMetaExpedient">
<part name="parameters" element="tns:crearMetaExpedient"/>
</message>
<message name="crearMetaExpedientResponse">
<part name="parameters" element="tns:crearMetaExpedientResponse"/>
</message>
<message name="crearDocumentMetadata">
<part name="parameters" element="tns:crearDocumentMetadata"/>
</message>
<message name="crearDocumentMetadataResponse">
<part name="parameters" element="tns:crearDocumentMetadataResponse"/>
</message>
<message name="crearExpedient">
<part name="parameters" element="tns:crearExpedient"/>
</message>
<message name="crearExpedientResponse">
<part name="parameters" element="tns:crearExpedientResponse"/>
</message>
<message name="crearAnotacio">
<part name="parameters" element="tns:crearAnotacio"/>
</message>
<message name="crearAnotacioResponse">
<part name="parameters" element="tns:crearAnotacioResponse"/>
</message>
<message name="crearArxiu">
<part name="parameters" element="tns:crearArxiu"/>
</message>
<message name="crearArxiuResponse">
<part name="parameters" element="tns:crearArxiuResponse"/>
</message>
<message name="crearExpedientMetadata">
<part name="parameters" element="tns:crearExpedientMetadata"/>
</message>
<message name="crearExpedientMetadataResponse">
<part name="parameters" element="tns:crearExpedientMetadataResponse"/>
</message>
<message name="crearDocumentTipus">
<part name="parameters" element="tns:crearDocumentTipus"/>
</message>
<message name="crearDocumentTipusResponse">
<part name="parameters" element="tns:crearDocumentTipusResponse"/>
</message>
<portType name="RipeaCarregaTest">
<operation name="crearEntitat">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearEntitatRequest" message="tns:crearEntitat"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearEntitatResponse" message="tns:crearEntitatResponse"/>
</operation>
<operation name="assignaPermisEntitat">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/assignaPermisEntitatRequest" message="tns:assignaPermisEntitat"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/assignaPermisEntitatResponse" message="tns:assignaPermisEntitatResponse"/>
</operation>
<operation name="crearMetaExpedient">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearMetaExpedientRequest" message="tns:crearMetaExpedient"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearMetaExpedientResponse" message="tns:crearMetaExpedientResponse"/>
</operation>
<operation name="crearDocumentMetadata">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearDocumentMetadataRequest" message="tns:crearDocumentMetadata"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearDocumentMetadataResponse" message="tns:crearDocumentMetadataResponse"/>
</operation>
<operation name="crearExpedient">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearExpedientRequest" message="tns:crearExpedient"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearExpedientResponse" message="tns:crearExpedientResponse"/>
</operation>
<operation name="crearAnotacio">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearAnotacioRequest" message="tns:crearAnotacio"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearAnotacioResponse" message="tns:crearAnotacioResponse"/>
</operation>
<operation name="crearArxiu">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearArxiuRequest" message="tns:crearArxiu"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearArxiuResponse" message="tns:crearArxiuResponse"/>
</operation>
<operation name="crearExpedientMetadata">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearExpedientMetadataRequest" message="tns:crearExpedientMetadata"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearExpedientMetadataResponse" message="tns:crearExpedientMetadataResponse"/>
</operation>
<operation name="crearDocumentTipus">
<input wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearDocumentTipusRequest" message="tns:crearDocumentTipus"/>
<output wsam:Action="http://www.caib.es/ripea/ws/ripeacarregatest/RipeaCarregaTest/crearDocumentTipusResponse" message="tns:crearDocumentTipusResponse"/>
</operation>
</portType>
<binding name="RipeaCarregaTestPortBinding" type="tns:RipeaCarregaTest">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearEntitat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="assignaPermisEntitat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearMetaExpedient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearDocumentMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearExpedient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearAnotacio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearArxiu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearExpedientMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearDocumentTipus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RipeaCarregaTest">
<port name="RipeaCarregaTestPort" binding="tns:RipeaCarregaTestPortBinding">
<soap:address location="http://127.0.0.1:8080/ripea/ws/ripeaCarregaTest"/>
</port>
</service>
</definitions>