ripea-plugin-impl/wsdl/sistra-regtel/Aviso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:es:caib:regtel:ws:v2:model:Aviso" version="1.0" xmlns:tns="urn:es:caib:regtel:ws:v2:model:Aviso" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Aviso">
		<xs:sequence>
			<xs:element name="titulo" type="xs:string"/>
			<xs:element name="texto" type="xs:string"/>
			<xs:element minOccurs="0" name="textoSMS" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>