ripea-plugin-impl/wsdl/sistra-regtel/BackofficeFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BackofficeFacade" targetNamespace="urn:es:caib:regtel:ws:v2:services" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:impl="urn:es:caib:regtel:ws:v2:services" xmlns:intf="urn:es:caib:regtel:ws:v2:model:BackofficeFacade" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="urn:es:caib:regtel:ws:v2:model:DatosRegistroSalida" xmlns:tns2="urn:es:caib:regtel:ws:v2:model:DatosRegistroEntrada" xmlns:tns3="urn:es:caib:regtel:ws:v2:model:ResultadoRegistro" xmlns:tns4="urn:es:caib:regtel:ws:v2:model:AcuseRecibo" xmlns:tns5="urn:es:caib:regtel:ws:v2:model:ReferenciaRDS" xmlns:tns6="urn:es:caib:regtel:ws:v2:model:FirmaWS" xmlns:tns7="urn:es:caib:regtel:ws:v2:model:DetalleAcuseRecibo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<schema elementFormDefault="qualified" targetNamespace="urn:es:caib:regtel:ws:v2:model:BackofficeFacade" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:impl="urn:es:caib:regtel:ws:v2:services" xmlns:intf="urn:es:caib:regtel:ws:v2:model:BackofficeFacade" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="urn:es:caib:regtel:ws:v2:model:DatosRegistroSalida" xmlns:tns2="urn:es:caib:regtel:ws:v2:model:DatosRegistroEntrada" xmlns:tns3="urn:es:caib:regtel:ws:v2:model:ResultadoRegistro" xmlns:tns4="urn:es:caib:regtel:ws:v2:model:AcuseRecibo" xmlns:tns5="urn:es:caib:regtel:ws:v2:model:ReferenciaRDS" xmlns:tns6="urn:es:caib:regtel:ws:v2:model:FirmaWS" xmlns:tns7="urn:es:caib:regtel:ws:v2:model:DetalleAcuseRecibo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="urn:es:caib:regtel:ws:v2:model:DatosRegistroSalida" schemaLocation="DatosRegistroSalida.xsd"/>
			<xsd:import namespace="urn:es:caib:regtel:ws:v2:model:DatosRegistroEntrada" schemaLocation="DatosRegistroEntrada.xsd"/>
			<xsd:import namespace="urn:es:caib:regtel:ws:v2:model:ResultadoRegistro" schemaLocation="ResultadoRegistro.xsd"/>
			<xsd:import namespace="urn:es:caib:regtel:ws:v2:model:AcuseRecibo" schemaLocation="AcuseRecibo.xsd"/>
			<xsd:import namespace="urn:es:caib:regtel:ws:v2:model:DetalleAcuseRecibo" schemaLocation="DetalleAcuseRecibo.xsd"/>
			<xsd:import namespace="urn:es:caib:regtel:ws:v2:model:ReferenciaRDS" schemaLocation="ReferenciaRDS.xsd"/>
			<xsd:import namespace="urn:es:caib:regtel:ws:v2:model:FirmaWS" schemaLocation="FirmaWS.xsd"/>
			<xsd:element name="registroEntrada">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entrada" type="tns2:DatosRegistroEntrada"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registroEntradaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registroEntradaReturn" type="tns3:ResultadoRegistro"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="prepararRegistroEntrada">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entrada" type="tns2:DatosRegistroEntrada"/>
						<xsd:element minOccurs="0" name="diasPersistencia" nillable="true" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="prepararRegistroEntradaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="prepararRegistroEntradaReturn" type="tns5:ReferenciaRDSAsientoRegistral"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registroEntradaConFirma">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="referenciaRDS" type="tns5:ReferenciaRDSAsientoRegistral"/>
						<xsd:element name="firma" type="tns6:FirmaWS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registroEntradaConFirmaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registroEntradaConFirmaReturn" type="tns3:ResultadoRegistro"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registroSalida">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="notificacion" type="tns1:DatosRegistroSalida"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registroSalidaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registroSalidaReturn" type="tns3:ResultadoRegistro"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerAcuseRecibo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numeroRegistro" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerAcuseReciboResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerAcuseReciboReturn" type="tns4:AcuseRecibo"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerDetalleAcuseRecibo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numeroRegistro" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerDetalleAcuseReciboResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerDetalleAcuseReciboReturn" type="tns7:DetalleAcuseRecibo"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<complexType name="BackofficeFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BackofficeFacadeException"/>
		</schema>
  </wsdl:types>
  <wsdl:message name="obtenerAcuseReciboRequest">
    <wsdl:part element="intf:obtenerAcuseRecibo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BackofficeFacadeException">
    <wsdl:part element="intf:fault" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registroEntradaResponse">
    <wsdl:part element="intf:registroEntradaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerAcuseReciboResponse">
    <wsdl:part element="intf:obtenerAcuseReciboResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registroSalidaResponse">
    <wsdl:part element="intf:registroSalidaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registroEntradaRequest">
    <wsdl:part element="intf:registroEntrada" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDetalleAcuseReciboResponse">
    <wsdl:part element="intf:obtenerDetalleAcuseReciboResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepararRegistroEntradaResponse">
    <wsdl:part element="intf:prepararRegistroEntradaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDetalleAcuseReciboRequest">
    <wsdl:part element="intf:obtenerDetalleAcuseRecibo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registroEntradaConFirmaRequest">
    <wsdl:part element="intf:registroEntradaConFirma" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registroEntradaConFirmaResponse">
    <wsdl:part element="intf:registroEntradaConFirmaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepararRegistroEntradaRequest">
    <wsdl:part element="intf:prepararRegistroEntrada" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registroSalidaRequest">
    <wsdl:part element="intf:registroSalida" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BackofficeFacade">
    <wsdl:operation name="registroEntrada">
      <wsdl:input message="impl:registroEntradaRequest" name="registroEntradaRequest">
    </wsdl:input>
      <wsdl:output message="impl:registroEntradaResponse" name="registroEntradaResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="prepararRegistroEntrada">
      <wsdl:input message="impl:prepararRegistroEntradaRequest" name="prepararRegistroEntradaRequest">
    </wsdl:input>
      <wsdl:output message="impl:prepararRegistroEntradaResponse" name="prepararRegistroEntradaResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registroEntradaConFirma">
      <wsdl:input message="impl:registroEntradaConFirmaRequest" name="registroEntradaConFirmaRequest">
    </wsdl:input>
      <wsdl:output message="impl:registroEntradaConFirmaResponse" name="registroEntradaConFirmaResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registroSalida">
      <wsdl:input message="impl:registroSalidaRequest" name="registroSalidaRequest">
    </wsdl:input>
      <wsdl:output message="impl:registroSalidaResponse" name="registroSalidaResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerAcuseRecibo">
      <wsdl:input message="impl:obtenerAcuseReciboRequest" name="obtenerAcuseReciboRequest">
    </wsdl:input>
      <wsdl:output message="impl:obtenerAcuseReciboResponse" name="obtenerAcuseReciboResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerDetalleAcuseRecibo">
      <wsdl:input message="impl:obtenerDetalleAcuseReciboRequest" name="obtenerDetalleAcuseReciboRequest">
    </wsdl:input>
      <wsdl:output message="impl:obtenerDetalleAcuseReciboResponse" name="obtenerDetalleAcuseReciboResponse">
    </wsdl:output>
      <wsdl:fault message="impl:BackofficeFacadeException" name="BackofficeFacadeException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackofficeFacadeSoapBinding" type="impl:BackofficeFacade">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registroEntrada">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="prepararRegistroEntrada">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registroEntradaConFirma">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registroSalida">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerAcuseRecibo">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerDetalleAcuseRecibo">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BackofficeFacadeException">
        <soap:fault name="BackofficeFacadeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackofficeFacadeService">
    <wsdl:port binding="impl:BackofficeFacadeSoapBinding" name="BackofficeFacade">
      <soap:address location="http://sdesapplin1.caib.es:18080/regtelws/services/v2/BackofficeFacade"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
