ripea-plugin-impl/wsdl/sistra-regtel/DatosExpediente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:es:caib:regtel:ws:v2:model:DatosExpediente" version="1.0" xmlns:tns="urn:es:caib:regtel:ws:v2:model:DatosExpediente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="DatosExpediente">
		<xs:sequence>
			<xs:element name="unidadAdministrativa" type="xs:long"/>
			<xs:element name="identificadorExpediente" type="xs:string"/>
			<xs:element name="claveExpediente" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>