ripea-plugin-impl/wsdl/sistra-regtel/FirmaWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:es:caib:regtel:ws:v2:model:FirmaWS" version="1.0" xmlns:tns="urn:es:caib:regtel:ws:v2:model:FirmaWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="FirmaWS">
		<xs:sequence>
			<xs:element name="firma" type="xs:base64Binary"/>
			<xs:element minOccurs="0" name="formato" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FirmasWS">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="firmas" type="tns:FirmaWS"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>