ripea-plugin-impl/wsdl/sistra-regtel/OficinaRegistral.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:es:caib:regtel:ws:v2:model:OficinaRegistral" version="1.0" xmlns:tns="urn:es:caib:regtel:ws:v2:model:OficinaRegistral" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="OficinaRegistral">
		<xs:sequence>
			<xs:element name="codigoOficina" type="xs:string"/>
			<xs:element name="codigoOrgano" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>