ripea-plugin-impl/src/main/resources/es/caib/ripea/plugin/unitat/ObtenerUnidadesImpl.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/dir3caib" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObtenerUnidadesService" targetNamespace="http://www.caib.es/dir3caib">
<wsdl:types>
<xs:schema xmlns:tns="http://www.caib.es/dir3caib" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.caib.es/dir3caib" version="1.0">
<xs:element name="obtenerArbolUnidades" type="tns:obtenerArbolUnidades"/>
<xs:element name="obtenerArbolUnidadesResponse" type="tns:obtenerArbolUnidadesResponse"/>
<xs:element name="obtenerUnidad" type="tns:obtenerUnidad"/>
<xs:element name="obtenerUnidadResponse" type="tns:obtenerUnidadResponse"/>
<xs:complexType name="obtenerUnidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerUnidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:unidadTF"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unidadTF">
<xs:sequence>
<xs:element minOccurs="0" name="codUnidadRaiz" type="xs:string"/>
<xs:element minOccurs="0" name="codUnidadSuperior" type="xs:string"/>
<xs:element minOccurs="0" name="codigo" type="xs:string"/>
<xs:element minOccurs="0" name="codigoEstadoEntidad" type="xs:string"/>
<xs:element minOccurs="0" name="competencias" type="xs:string"/>
<xs:element minOccurs="0" name="denominacion" type="xs:string"/>
<xs:element minOccurs="0" name="fechaAltaOficial" type="xs:dateTime"/>
<xs:element minOccurs="0" name="fechaAnulacion" type="xs:dateTime"/>
<xs:element minOccurs="0" name="fechaBajaOficial" type="xs:dateTime"/>
<xs:element minOccurs="0" name="fechaExtincion" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nivelJerarquico" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerArbolUnidades">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerArbolUnidadesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:unidadTF"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="obtenerArbolUnidadesResponse">
<wsdl:part element="tns:obtenerArbolUnidadesResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerUnidadResponse">
<wsdl:part element="tns:obtenerUnidadResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerUnidad">
<wsdl:part element="tns:obtenerUnidad" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerArbolUnidades">
<wsdl:part element="tns:obtenerArbolUnidades" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ObtenerUnidades">
<wsdl:operation name="obtenerUnidad">
<wsdl:input message="tns:obtenerUnidad" name="obtenerUnidad"></wsdl:input>
<wsdl:output message="tns:obtenerUnidadResponse" name="obtenerUnidadResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerArbolUnidades">
<wsdl:input message="tns:obtenerArbolUnidades" name="obtenerArbolUnidades"></wsdl:input>
<wsdl:output message="tns:obtenerArbolUnidadesResponse" name="obtenerArbolUnidadesResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ObtenerUnidadesServiceSoapBinding" type="tns:ObtenerUnidades">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="obtenerUnidad">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerUnidad">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerUnidadResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerArbolUnidades">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerArbolUnidades">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerArbolUnidadesResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ObtenerUnidadesService">
<wsdl:port binding="tns:ObtenerUnidadesServiceSoapBinding" name="ObtenerUnidades">
<soap:address location="http://10.215.9.158:48080/dir3caib/ws/ObtenerUnidadesImpl"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>