ripea-plugin-impl/src/main/resources/es/caib/ripea/plugin/unitat/ObtenerCatalogosImpl.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/dir3caib" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObtenerCatalogosService" targetNamespace="http://www.caib.es/dir3caib">
<wsdl:types>
<xs:schema xmlns:tns="http://www.caib.es/dir3caib" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.caib.es/dir3caib" version="1.0">
<xs:element name="obtenerCatComunidadAutonoma" type="tns:obtenerCatComunidadAutonoma"/>
<xs:element name="obtenerCatComunidadAutonomaResponse" type="tns:obtenerCatComunidadAutonomaResponse"/>
<xs:element name="obtenerCatEntidadGeografica" type="tns:obtenerCatEntidadGeografica"/>
<xs:element name="obtenerCatEntidadGeograficaResponse" type="tns:obtenerCatEntidadGeograficaResponse"/>
<xs:element name="obtenerCatEstadoEntidad" type="tns:obtenerCatEstadoEntidad"/>
<xs:element name="obtenerCatEstadoEntidadResponse" type="tns:obtenerCatEstadoEntidadResponse"/>
<xs:element name="obtenerCatLocalidad" type="tns:obtenerCatLocalidad"/>
<xs:element name="obtenerCatLocalidadResponse" type="tns:obtenerCatLocalidadResponse"/>
<xs:element name="obtenerCatNivelAdministracion" type="tns:obtenerCatNivelAdministracion"/>
<xs:element name="obtenerCatNivelAdministracionResponse" type="tns:obtenerCatNivelAdministracionResponse"/>
<xs:element name="obtenerCatPais" type="tns:obtenerCatPais"/> 
<xs:element name="obtenerCatPaisResponse" type="tns:obtenerCatPaisResponse"/>
<xs:element name="obtenerCatProvincia" type="tns:obtenerCatProvincia"/>
<xs:element name="obtenerCatProvinciaResponse" type="tns:obtenerCatProvinciaResponse"/>
<xs:complexType name="obtenerCatComunidadAutonoma">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerCatComunidadAutonomaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:catComunidadAutonomaTF"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="catComunidadAutonomaTF">
<xs:sequence>
<xs:element minOccurs="0" name="codigoComunidad" type="xs:long"/>
<xs:element minOccurs="0" name="codigoPais" type="xs:long"/>
<xs:element minOccurs="0" name="descripcionComunidad" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerCatEstadoEntidad">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerCatEstadoEntidadResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:catEstadoEntidad"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="catEstadoEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="codigoEstadoEntidad" type="xs:string"/>
<xs:element minOccurs="0" name="descripcionEstadoEntidad" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerCatPais">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerCatPaisResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:catPais"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="catPais">
<xs:sequence>
<xs:element minOccurs="0" name="alfa2Pais" type="xs:string"/>
<xs:element minOccurs="0" name="alfa3Pais" type="xs:string"/>
<xs:element minOccurs="0" name="codigoPais" type="xs:long"/>
<xs:element minOccurs="0" name="descripcionPais" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerCatLocalidad">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerCatLocalidadResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:catLocalidadTF"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="catLocalidadTF">
<xs:sequence>
<xs:element minOccurs="0" name="codigoEntidadGeografica" type="xs:string"/>
<xs:element minOccurs="0" name="codigoLocalidad" type="xs:long"/>
<xs:element minOccurs="0" name="codigoProvincia" type="xs:long"/>
<xs:element minOccurs="0" name="descripcionLocalidad" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerCatEntidadGeografica">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerCatEntidadGeograficaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:catEntidadGeograficaTF"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="catEntidadGeograficaTF">
<xs:sequence>
<xs:element minOccurs="0" name="codigoEntidadGeografica" type="xs:string"/>
<xs:element minOccurs="0" name="descripcionEntidadGeografica" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerCatNivelAdministracion">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerCatNivelAdministracionResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:catNivelAdministracion"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="catNivelAdministracion">
<xs:sequence>
<xs:element minOccurs="0" name="codigoNivelAdministracion" type="xs:long"/>
<xs:element minOccurs="0" name="descripcionNivelAdministracion" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerCatProvincia">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerCatProvinciaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:catProvinciaTF"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="catProvinciaTF">
<xs:sequence>
<xs:element minOccurs="0" name="codigoComunidadAutonoma" type="xs:long"/>
<xs:element minOccurs="0" name="codigoProvincia" type="xs:long"/>
<xs:element minOccurs="0" name="descripcionProvincia" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="obtenerCatProvincia">
<wsdl:part element="tns:obtenerCatProvincia" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatEstadoEntidad">
<wsdl:part element="tns:obtenerCatEstadoEntidad" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatProvinciaResponse">
<wsdl:part element="tns:obtenerCatProvinciaResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatEntidadGeograficaResponse">
<wsdl:part element="tns:obtenerCatEntidadGeograficaResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatEstadoEntidadResponse">
<wsdl:part element="tns:obtenerCatEstadoEntidadResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatPais">
<wsdl:part element="tns:obtenerCatPais" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatComunidadAutonomaResponse">
<wsdl:part element="tns:obtenerCatComunidadAutonomaResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatComunidadAutonoma">
<wsdl:part element="tns:obtenerCatComunidadAutonoma" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatPaisResponse">
<wsdl:part element="tns:obtenerCatPaisResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatLocalidadResponse">
<wsdl:part element="tns:obtenerCatLocalidadResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatNivelAdministracion">
<wsdl:part element="tns:obtenerCatNivelAdministracion" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatLocalidad">
<wsdl:part element="tns:obtenerCatLocalidad" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatNivelAdministracionResponse">
<wsdl:part element="tns:obtenerCatNivelAdministracionResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerCatEntidadGeografica">
<wsdl:part element="tns:obtenerCatEntidadGeografica" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ObtenerCatalogos">
<wsdl:operation name="obtenerCatComunidadAutonoma">
<wsdl:input message="tns:obtenerCatComunidadAutonoma" name="obtenerCatComunidadAutonoma"></wsdl:input>
<wsdl:output message="tns:obtenerCatComunidadAutonomaResponse" name="obtenerCatComunidadAutonomaResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatEstadoEntidad">
<wsdl:input message="tns:obtenerCatEstadoEntidad" name="obtenerCatEstadoEntidad"></wsdl:input>
<wsdl:output message="tns:obtenerCatEstadoEntidadResponse" name="obtenerCatEstadoEntidadResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatPais">
<wsdl:input message="tns:obtenerCatPais" name="obtenerCatPais"></wsdl:input>
<wsdl:output message="tns:obtenerCatPaisResponse" name="obtenerCatPaisResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatLocalidad">
<wsdl:input message="tns:obtenerCatLocalidad" name="obtenerCatLocalidad"></wsdl:input>
<wsdl:output message="tns:obtenerCatLocalidadResponse" name="obtenerCatLocalidadResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatEntidadGeografica">
<wsdl:input message="tns:obtenerCatEntidadGeografica" name="obtenerCatEntidadGeografica"></wsdl:input>
<wsdl:output message="tns:obtenerCatEntidadGeograficaResponse" name="obtenerCatEntidadGeograficaResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatNivelAdministracion">
<wsdl:input message="tns:obtenerCatNivelAdministracion" name="obtenerCatNivelAdministracion"></wsdl:input>
<wsdl:output message="tns:obtenerCatNivelAdministracionResponse" name="obtenerCatNivelAdministracionResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatProvincia">
<wsdl:input message="tns:obtenerCatProvincia" name="obtenerCatProvincia"></wsdl:input>
<wsdl:output message="tns:obtenerCatProvinciaResponse" name="obtenerCatProvinciaResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ObtenerCatalogosServiceSoapBinding" type="tns:ObtenerCatalogos">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="obtenerCatComunidadAutonoma">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerCatComunidadAutonoma">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerCatComunidadAutonomaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatEstadoEntidad">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerCatEstadoEntidad">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerCatEstadoEntidadResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatPais">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerCatPais">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerCatPaisResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatLocalidad">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerCatLocalidad">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerCatLocalidadResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatEntidadGeografica">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerCatEntidadGeografica">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerCatEntidadGeograficaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatNivelAdministracion">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerCatNivelAdministracion">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerCatNivelAdministracionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerCatProvincia">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerCatProvincia">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerCatProvinciaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ObtenerCatalogosService">
<wsdl:port binding="tns:ObtenerCatalogosServiceSoapBinding" name="ObtenerCatalogos">
<soap:address location="http://10.215.9.158:48080/dir3caib/ws/ObtenerCatalogosImpl"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>