ripea-plugin-impl/wsdl/dir3caib/Dir3CaibObtenerUnidades.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Dir3CaibObtenerUnidadesWsService" targetNamespace="http://unidad.ws.dir3caib.caib.es/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unidad.ws.dir3caib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://unidad.ws.dir3caib.caib.es/" version="1.0" xmlns:tns="http://unidad.ws.dir3caib.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getVersion" type="tns:getVersion"/>
<xs:element name="getVersionResponse" type="tns:getVersionResponse"/>
<xs:element name="getVersionWs" type="tns:getVersionWs"/>
<xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse"/>
<xs:element name="obtenerArbolUnidades" type="tns:obtenerArbolUnidades"/>
<xs:element name="obtenerArbolUnidadesDestinatarias" type="tns:obtenerArbolUnidadesDestinatarias"/>
<xs:element name="obtenerArbolUnidadesDestinatariasResponse" type="tns:obtenerArbolUnidadesDestinatariasResponse"/>
<xs:element name="obtenerArbolUnidadesResponse" type="tns:obtenerArbolUnidadesResponse"/>
<xs:element name="obtenerFechaUltimaActualizacion" type="tns:obtenerFechaUltimaActualizacion"/>
<xs:element name="obtenerFechaUltimaActualizacionResponse" type="tns:obtenerFechaUltimaActualizacionResponse"/>
<xs:element name="obtenerUnidad" type="tns:obtenerUnidad"/>
<xs:element name="obtenerUnidadResponse" type="tns:obtenerUnidadResponse"/>
<xs:complexType name="obtenerFechaUltimaActualizacion">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenerFechaUltimaActualizacionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersionWs">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getVersionWsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerUnidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg2" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerUnidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:unidadTF"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unidadTF">
<xs:sequence>
<xs:element minOccurs="0" name="codAmbComunidad" type="xs:long"/>
<xs:element minOccurs="0" name="codAmbProvincia" type="xs:long"/>
<xs:element minOccurs="0" name="codPostal" type="xs:string"/>
<xs:element minOccurs="0" name="codUnidadRaiz" type="xs:string"/>
<xs:element minOccurs="0" name="codUnidadSuperior" type="xs:string"/>
<xs:element minOccurs="0" name="codigo" type="xs:string"/>
<xs:element minOccurs="0" name="codigoAmbPais" type="xs:long"/>
<xs:element minOccurs="0" name="codigoAmbitoTerritorial" type="xs:string"/>
<xs:element minOccurs="0" name="codigoEstadoEntidad" type="xs:string"/>
<xs:element minOccurs="0" name="codigoTipoVia" type="xs:long"/>
<xs:element minOccurs="0" name="competencias" type="xs:string"/>
<xs:element minOccurs="0" name="denominacion" type="xs:string"/>
<xs:element minOccurs="0" name="descripcionLocalidad" type="xs:string"/>
<xs:element minOccurs="0" name="fechaAltaOficial" type="xs:dateTime"/>
<xs:element minOccurs="0" name="fechaAnulacion" type="xs:dateTime"/>
<xs:element minOccurs="0" name="fechaBajaOficial" type="xs:dateTime"/>
<xs:element minOccurs="0" name="fechaExtincion" type="xs:dateTime"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="historicosUO" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="nivelAdministracion" type="xs:long"/>
<xs:element minOccurs="0" name="nivelJerarquico" type="xs:long"/>
<xs:element minOccurs="0" name="nombreVia" type="xs:string"/>
<xs:element minOccurs="0" name="numVia" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersion">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerArbolUnidades">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg2" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerArbolUnidadesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:unidadTF"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerArbolUnidadesDestinatarias">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerArbolUnidadesDestinatariasResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:unidadTF"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerArbolUnidadesDestinatarias">
    <wsdl:part element="tns:obtenerArbolUnidadesDestinatarias" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerFechaUltimaActualizacion">
    <wsdl:part element="tns:obtenerFechaUltimaActualizacion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerArbolUnidadesDestinatariasResponse">
    <wsdl:part element="tns:obtenerArbolUnidadesDestinatariasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerArbolUnidades">
    <wsdl:part element="tns:obtenerArbolUnidades" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="tns:getVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part element="tns:getVersionWs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerUnidadResponse">
    <wsdl:part element="tns:obtenerUnidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part element="tns:getVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerUnidad">
    <wsdl:part element="tns:obtenerUnidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerArbolUnidadesResponse">
    <wsdl:part element="tns:obtenerArbolUnidadesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerFechaUltimaActualizacionResponse">
    <wsdl:part element="tns:obtenerFechaUltimaActualizacionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part element="tns:getVersionWsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Dir3CaibObtenerUnidadesWs">
    <wsdl:operation name="obtenerFechaUltimaActualizacion">
      <wsdl:input message="tns:obtenerFechaUltimaActualizacion" name="obtenerFechaUltimaActualizacion">
    </wsdl:input>
      <wsdl:output message="tns:obtenerFechaUltimaActualizacionResponse" name="obtenerFechaUltimaActualizacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input message="tns:getVersionWs" name="getVersionWs">
    </wsdl:input>
      <wsdl:output message="tns:getVersionWsResponse" name="getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUnidad">
      <wsdl:input message="tns:obtenerUnidad" name="obtenerUnidad">
    </wsdl:input>
      <wsdl:output message="tns:obtenerUnidadResponse" name="obtenerUnidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersion" name="getVersion">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerArbolUnidades">
      <wsdl:input message="tns:obtenerArbolUnidades" name="obtenerArbolUnidades">
    </wsdl:input>
      <wsdl:output message="tns:obtenerArbolUnidadesResponse" name="obtenerArbolUnidadesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerArbolUnidadesDestinatarias">
      <wsdl:input message="tns:obtenerArbolUnidadesDestinatarias" name="obtenerArbolUnidadesDestinatarias">
    </wsdl:input>
      <wsdl:output message="tns:obtenerArbolUnidadesDestinatariasResponse" name="obtenerArbolUnidadesDestinatariasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Dir3CaibObtenerUnidadesWsServiceSoapBinding" type="tns:Dir3CaibObtenerUnidadesWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerFechaUltimaActualizacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerFechaUltimaActualizacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerFechaUltimaActualizacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersionWs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUnidad">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerUnidad">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerUnidadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerArbolUnidades">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerArbolUnidades">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerArbolUnidadesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerArbolUnidadesDestinatarias">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerArbolUnidadesDestinatarias">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerArbolUnidadesDestinatariasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dir3CaibObtenerUnidadesWsService">
    <wsdl:port binding="tns:Dir3CaibObtenerUnidadesWsServiceSoapBinding" name="Dir3CaibObtenerUnidadesWs">
      <soap:address location="http://10.215.9.179:18080/dir3caib/ws/Dir3CaibObtenerUnidades"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>