ripea-core/src/main/resources/es/caib/ripea/core/service/ws/carregatest/ripeaCarregaTest.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name='RipeaCarregaTest' targetNamespace='http://www.caib.es/ripea/ws/ripeacarregatest' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://www.caib.es/ripea/ws/ripeacarregatest' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://www.caib.es/ripea/ws/ripeacarregatest' version='1.0' xmlns:tns='http://www.caib.es/ripea/ws/ripeacarregatest' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='alliberarExpedient' type='tns:alliberarExpedient'/>
   <xs:element name='alliberarExpedientResponse' type='tns:alliberarExpedientResponse'/>
   <xs:element name='assignaPermisEntitat' type='tns:assignaPermisEntitat'/>
   <xs:element name='assignaPermisEntitatResponse' type='tns:assignaPermisEntitatResponse'/>
   <xs:element name='crearAnotacio' type='tns:crearAnotacio'/>
   <xs:element name='crearAnotacioResponse' type='tns:crearAnotacioResponse'/>
   <xs:element name='crearArxiu' type='tns:crearArxiu'/>
   <xs:element name='crearArxiuResponse' type='tns:crearArxiuResponse'/>
   <xs:element name='crearDocumentExpedient' type='tns:crearDocumentExpedient'/>
   <xs:element name='crearDocumentExpedientResponse' type='tns:crearDocumentExpedientResponse'/>
   <xs:element name='crearDocumentMetadata' type='tns:crearDocumentMetadata'/>
   <xs:element name='crearDocumentMetadataResponse' type='tns:crearDocumentMetadataResponse'/>
   <xs:element name='crearDocumentTipus' type='tns:crearDocumentTipus'/>
   <xs:element name='crearDocumentTipusResponse' type='tns:crearDocumentTipusResponse'/>
   <xs:element name='crearEntitat' type='tns:crearEntitat'/>
   <xs:element name='crearEntitatResponse' type='tns:crearEntitatResponse'/>
   <xs:element name='crearExpedient' type='tns:crearExpedient'/>
   <xs:element name='crearExpedientMetadata' type='tns:crearExpedientMetadata'/>
   <xs:element name='crearExpedientMetadataResponse' type='tns:crearExpedientMetadataResponse'/>
   <xs:element name='crearExpedientRendiment' type='tns:crearExpedientRendiment'/>
   <xs:element name='crearExpedientRendimentResponse' type='tns:crearExpedientRendimentResponse'/>
   <xs:element name='crearExpedientResponse' type='tns:crearExpedientResponse'/>
   <xs:element name='crearMetaExpedient' type='tns:crearMetaExpedient'/>
   <xs:element name='crearMetaExpedientResponse' type='tns:crearMetaExpedientResponse'/>
   <xs:element name='getArxiuIdByNom' type='tns:getArxiuIdByNom'/>
   <xs:element name='getArxiuIdByNomResponse' type='tns:getArxiuIdByNomResponse'/>
   <xs:element name='getEntitatIdByCodi' type='tns:getEntitatIdByCodi'/>
   <xs:element name='getEntitatIdByCodiResponse' type='tns:getEntitatIdByCodiResponse'/>
   <xs:element name='getEscriptoriId' type='tns:getEscriptoriId'/>
   <xs:element name='getEscriptoriIdResponse' type='tns:getEscriptoriIdResponse'/>
   <xs:element name='modificarMetadadaDocument' type='tns:modificarMetadadaDocument'/>
   <xs:element name='modificarMetadadaDocumentResponse' type='tns:modificarMetadadaDocumentResponse'/>
   <xs:element name='modificarMetadadaExpedient' type='tns:modificarMetadadaExpedient'/>
   <xs:element name='modificarMetadadaExpedientResponse' type='tns:modificarMetadadaExpedientResponse'/>
   <xs:element name='tancarExpedient' type='tns:tancarExpedient'/>
   <xs:element name='tancarExpedientResponse' type='tns:tancarExpedientResponse'/>
   <xs:complexType name='crearExpedientRendiment'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:long'/>
     <xs:element minOccurs='0' name='arg3' type='xs:long'/>
     <xs:element minOccurs='0' name='arg4' type='xs:int'/>
     <xs:element minOccurs='0' name='arg5' type='xs:string'/>
     <xs:element minOccurs='0' name='arg6' type='xs:string'/>
     <xs:element minOccurs='0' name='arg7' type='xs:anyType'/>
     <xs:element minOccurs='0' name='arg8' type='xs:string'/>
     <xs:element minOccurs='0' name='arg9' type='xs:anyType'/>
     <xs:element minOccurs='0' name='arg10' type='xs:string'/>
     <xs:element minOccurs='0' name='arg11' type='xs:string'/>
     <xs:element minOccurs='0' name='arg12' type='xs:string'/>
     <xs:element minOccurs='0' name='arg13' type='xs:string'/>
     <xs:element minOccurs='0' name='arg14' type='xs:base64Binary'/>
     <xs:element minOccurs='0' name='arg15' type='xs:string'/>
     <xs:element minOccurs='0' name='arg16' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='arg17' type='xs:string'/>
     <xs:element minOccurs='0' name='arg18' type='xs:string'/>
     <xs:element minOccurs='0' name='arg19' type='xs:string'/>
     <xs:element minOccurs='0' name='arg20' type='xs:string'/>
     <xs:element minOccurs='0' name='arg21' type='xs:string'/>
     <xs:element minOccurs='0' name='arg22' type='xs:string'/>
     <xs:element minOccurs='0' name='arg23' type='xs:anyType'/>
     <xs:element minOccurs='0' name='arg24' type='xs:string'/>
     <xs:element minOccurs='0' name='arg25' type='xs:anyType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearExpedientRendimentResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getEntitatIdByCodi'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getEntitatIdByCodiResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='assignaPermisEntitat'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element name='arg2' type='xs:boolean'/>
     <xs:element name='arg3' type='xs:boolean'/>
     <xs:element name='arg4' type='xs:boolean'/>
     <xs:element name='arg5' type='xs:boolean'/>
     <xs:element name='arg6' type='xs:boolean'/>
     <xs:element name='arg7' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='assignaPermisEntitatResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='crearMetaExpedient'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
     <xs:element minOccurs='0' name='arg4' type='xs:string'/>
     <xs:element minOccurs='0' name='arg5' type='xs:string'/>
     <xs:element minOccurs='0' name='arg6' type='xs:string'/>
     <xs:element name='arg7' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg8' type='xs:string'/>
     <xs:element minOccurs='0' name='arg9' type='xs:string'/>
     <xs:element minOccurs='0' name='arg10' type='xs:string'/>
     <xs:element minOccurs='0' name='arg11' type='xs:string'/>
     <xs:element minOccurs='0' name='arg12' type='xs:string'/>
     <xs:element minOccurs='0' name='arg13' type='xs:string'/>
     <xs:element minOccurs='0' name='arg14' type='xs:string'/>
     <xs:element minOccurs='0' name='arg15' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearMetaExpedientResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearExpedientMetadata'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
     <xs:element minOccurs='0' name='arg4' type='xs:string'/>
     <xs:element minOccurs='0' name='arg5' type='xs:string'/>
     <xs:element name='arg6' type='xs:boolean'/>
     <xs:element name='arg7' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg8' type='xs:string'/>
     <xs:element name='arg9' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg10' type='xs:string'/>
     <xs:element name='arg11' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearExpedientMetadataResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='crearDocumentTipus'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
     <xs:element name='arg4' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg5' type='xs:string'/>
     <xs:element name='arg6' type='xs:boolean'/>
     <xs:element name='arg7' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg8' type='xs:string'/>
     <xs:element minOccurs='0' name='arg9' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='arg10' type='xs:string'/>
     <xs:element minOccurs='0' name='arg11' type='xs:string'/>
     <xs:element minOccurs='0' name='arg12' type='xs:string'/>
     <xs:element name='arg13' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg14' type='xs:string'/>
     <xs:element minOccurs='0' name='arg15' type='xs:string'/>
     <xs:element minOccurs='0' name='arg16' type='xs:string'/>
     <xs:element minOccurs='0' name='arg17' type='xs:base64Binary'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearDocumentTipusResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearDocumentMetadata'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
     <xs:element minOccurs='0' name='arg4' type='xs:string'/>
     <xs:element minOccurs='0' name='arg5' type='xs:string'/>
     <xs:element name='arg6' type='xs:boolean'/>
     <xs:element name='arg7' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg8' type='xs:string'/>
     <xs:element name='arg9' type='xs:boolean'/>
     <xs:element minOccurs='0' name='arg10' type='xs:string'/>
     <xs:element name='arg11' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearDocumentMetadataResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='crearArxiu'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearArxiuResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearAnotacio'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearAnotacioResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getEscriptoriId'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getEscriptoriIdResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getArxiuIdByNom'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getArxiuIdByNomResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearExpedient'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:long'/>
     <xs:element minOccurs='0' name='arg3' type='xs:long'/>
     <xs:element minOccurs='0' name='arg4' type='xs:int'/>
     <xs:element minOccurs='0' name='arg5' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearExpedientResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:expedientDto'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='expedientDto'>
    <xs:complexContent>
     <xs:extension base='tns:nodeDto'>
      <xs:sequence>
       <xs:element name='any' type='xs:int'/>
       <xs:element minOccurs='0' name='arxiu' type='tns:arxiuDto'/>
       <xs:element minOccurs='0' name='estat' type='tns:expedientEstatEnumDto'/>
       <xs:element minOccurs='0' name='ntiClasificacionSia' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiFechaApertura' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='ntiIdentificador' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiOrgano' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiOrganoDescripcio' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiVersion' type='xs:string'/>
       <xs:element minOccurs='0' name='numero' type='xs:string'/>
       <xs:element name='sequencia' type='xs:long'/>
       <xs:element minOccurs='0' name='sistraClau' type='xs:string'/>
       <xs:element name='sistraPublicat' type='xs:boolean'/>
       <xs:element minOccurs='0' name='sistraUnitatAdministrativa' type='xs:string'/>
       <xs:element minOccurs='0' name='tancatData' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='tancatMotiu' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract='true' name='nodeDto'>
    <xs:complexContent>
     <xs:extension base='tns:contingutDto'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='dades' nillable='true' type='tns:dadaDto'/>
       <xs:element minOccurs='0' name='metaNode' type='tns:metaNodeDto'/>
       <xs:element name='valid' type='xs:boolean'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract='true' name='contingutDto'>
    <xs:complexContent>
     <xs:extension base='tns:auditoriaDto'>
      <xs:sequence>
       <xs:element minOccurs='0' name='arxiuDataActualitzacio' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='arxiuUuid' type='xs:string'/>
       <xs:element minOccurs='0' name='darrerMovimentComentari' type='xs:string'/>
       <xs:element minOccurs='0' name='darrerMovimentData' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='darrerMovimentUsuari' type='tns:usuariDto'/>
       <xs:element minOccurs='0' name='entitat' type='tns:entitatDto'/>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='fills' nillable='true' type='tns:contingutDto'/>
       <xs:element minOccurs='0' name='id' type='xs:long'/>
       <xs:element minOccurs='0' name='nom' type='xs:string'/>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='path' nillable='true' type='tns:contingutDto'/>
       <xs:element name='perConvertirJson' type='xs:boolean'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='auditoriaDto'>
    <xs:sequence>
     <xs:element minOccurs='0' name='createdBy' type='tns:usuariDto'/>
     <xs:element minOccurs='0' name='createdDate' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='lastModifiedBy' type='tns:usuariDto'/>
     <xs:element minOccurs='0' name='lastModifiedDate' type='xs:dateTime'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='arxiuDto'>
    <xs:complexContent>
     <xs:extension base='tns:contingutDto'>
      <xs:sequence>
       <xs:element name='actiu' type='xs:boolean'/>
       <xs:element name='expedientsCount' type='xs:int'/>
       <xs:element name='metaExpedientsCount' type='xs:int'/>
       <xs:element minOccurs='0' name='unitat' type='tns:unitatOrganitzativaDto'/>
       <xs:element minOccurs='0' name='unitatCodi' type='xs:string'/>
       <xs:element name='usuariActualRead' type='xs:boolean'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='unitatOrganitzativaDto'>
    <xs:sequence>
     <xs:element minOccurs='0' name='adressa' type='xs:string'/>
     <xs:element minOccurs='0' name='codi' type='xs:string'/>
     <xs:element minOccurs='0' name='codiComunitat' type='xs:string'/>
     <xs:element minOccurs='0' name='codiPais' type='xs:string'/>
     <xs:element minOccurs='0' name='codiPostal' type='xs:string'/>
     <xs:element minOccurs='0' name='codiProvincia' type='xs:string'/>
     <xs:element minOccurs='0' name='codiUnitatArrel' type='xs:string'/>
     <xs:element minOccurs='0' name='codiUnitatSuperior' type='xs:string'/>
     <xs:element minOccurs='0' name='dataAnulacio' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='dataCreacioOficial' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='dataExtincioFuncional' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='dataSupressioOficial' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='denominacio' type='xs:string'/>
     <xs:element minOccurs='0' name='estat' type='xs:string'/>
     <xs:element minOccurs='0' name='localitat' type='xs:string'/>
     <xs:element minOccurs='0' name='nifCif' type='xs:string'/>
     <xs:element minOccurs='0' name='nomLocalitat' type='xs:string'/>
     <xs:element minOccurs='0' name='nomVia' type='xs:string'/>
     <xs:element minOccurs='0' name='numVia' type='xs:string'/>
     <xs:element minOccurs='0' name='tipusVia' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='usuariDto'>
    <xs:sequence>
     <xs:element minOccurs='0' name='codi' type='xs:string'/>
     <xs:element minOccurs='0' name='email' type='xs:string'/>
     <xs:element minOccurs='0' name='nif' type='xs:string'/>
     <xs:element minOccurs='0' name='nom' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='rols' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='entitatDto'>
    <xs:complexContent>
     <xs:extension base='tns:auditoriaDto'>
      <xs:sequence>
       <xs:element name='activa' type='xs:boolean'/>
       <xs:element minOccurs='0' name='cif' type='xs:string'/>
       <xs:element minOccurs='0' name='codi' type='xs:string'/>
       <xs:element minOccurs='0' name='descripcio' type='xs:string'/>
       <xs:element minOccurs='0' name='id' type='xs:long'/>
       <xs:element minOccurs='0' name='nom' type='xs:string'/>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='permisos' nillable='true' type='tns:permisDto'/>
       <xs:element minOccurs='0' name='unitatArrel' type='xs:string'/>
       <xs:element name='usuariActualAdministration' type='xs:boolean'/>
       <xs:element name='usuariActualRead' type='xs:boolean'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='permisDto'>
    <xs:sequence>
     <xs:element name='administration' type='xs:boolean'/>
     <xs:element name='create' type='xs:boolean'/>
     <xs:element name='delete' type='xs:boolean'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='principalNom' type='xs:string'/>
     <xs:element minOccurs='0' name='principalTipus' type='tns:principalTipusEnumDto'/>
     <xs:element name='read' type='xs:boolean'/>
     <xs:element name='write' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='dadaDto'>
    <xs:complexContent>
     <xs:extension base='tns:auditoriaDto'>
      <xs:sequence>
       <xs:element minOccurs='0' name='id' type='xs:long'/>
       <xs:element minOccurs='0' name='metaDada' type='tns:metaDadaDto'/>
       <xs:element name='ordre' type='xs:int'/>
       <xs:element minOccurs='0' name='valor' type='xs:anyType'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='metaDadaDto'>
    <xs:sequence>
     <xs:element name='activa' type='xs:boolean'/>
     <xs:element minOccurs='0' name='codi' type='xs:string'/>
     <xs:element minOccurs='0' name='descripcio' type='xs:string'/>
     <xs:element name='globalDocument' type='xs:boolean'/>
     <xs:element name='globalExpedient' type='xs:boolean'/>
     <xs:element minOccurs='0' name='globalMultiplicitat' type='tns:multiplicitatEnumDto'/>
     <xs:element name='globalReadOnly' type='xs:boolean'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='nom' type='xs:string'/>
     <xs:element minOccurs='0' name='tipus' type='tns:metaDadaTipusEnumDto'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='metaNodeDto'>
    <xs:sequence>
     <xs:element name='actiu' type='xs:boolean'/>
     <xs:element minOccurs='0' name='codi' type='xs:string'/>
     <xs:element minOccurs='0' name='descripcio' type='xs:string'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='nom' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='permisos' nillable='true' type='tns:permisDto'/>
     <xs:element name='usuariActualCreate' type='xs:boolean'/>
     <xs:element name='usuariActualDelete' type='xs:boolean'/>
     <xs:element name='usuariActualRead' type='xs:boolean'/>
     <xs:element name='usuariActualWrite' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='tancarExpedient'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='tancarExpedientResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='alliberarExpedient'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='alliberarExpedientResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='modificarMetadadaExpedient'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:anyType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='modificarMetadadaExpedientResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='modificarMetadadaDocument'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:anyType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='modificarMetadadaDocumentResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='crearEntitat'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
     <xs:element minOccurs='0' name='arg4' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearEntitatResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearDocumentExpedient'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:long'/>
     <xs:element minOccurs='0' name='arg1' type='xs:long'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
     <xs:element minOccurs='0' name='arg4' type='xs:string'/>
     <xs:element minOccurs='0' name='arg5' type='xs:string'/>
     <xs:element minOccurs='0' name='arg6' type='xs:base64Binary'/>
     <xs:element minOccurs='0' name='arg7' type='xs:string'/>
     <xs:element minOccurs='0' name='arg8' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='arg9' type='xs:string'/>
     <xs:element minOccurs='0' name='arg10' type='xs:string'/>
     <xs:element minOccurs='0' name='arg11' type='xs:string'/>
     <xs:element minOccurs='0' name='arg12' type='xs:string'/>
     <xs:element minOccurs='0' name='arg13' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='crearDocumentExpedientResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:documentDto'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='documentDto'>
    <xs:complexContent>
     <xs:extension base='tns:nodeDto'>
      <xs:sequence>
       <xs:element minOccurs='0' name='custodiaData' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='custodiaId' type='xs:string'/>
       <xs:element minOccurs='0' name='custodiaUrl' type='xs:string'/>
       <xs:element minOccurs='0' name='data' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='dataCaptura' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='documentTipus' type='tns:documentTipusEnumDto'/>
       <xs:element minOccurs='0' name='estat' type='tns:documentEstatEnumDto'/>
       <xs:element minOccurs='0' name='fitxerContentType' type='xs:string'/>
       <xs:element minOccurs='0' name='fitxerContingut' type='xs:base64Binary'/>
       <xs:element minOccurs='0' name='fitxerNom' type='xs:string'/>
       <xs:element minOccurs='0' name='fitxerNomEnviamentPortafirmes' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiCsv' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiCsvRegulacion' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiEstadoElaboracion' type='tns:documentNtiEstadoElaboracionEnumDto'/>
       <xs:element minOccurs='0' name='ntiIdDocumentoOrigen' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiIdentificador' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiOrgano' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiOrganoDescripcio' type='xs:string'/>
       <xs:element minOccurs='0' name='ntiOrigen' type='tns:documentNtiOrigenEnumDto'/>
       <xs:element minOccurs='0' name='ntiTipoDocumental' type='tns:documentNtiTipoDocumentalEnumDto'/>
       <xs:element minOccurs='0' name='ntiTipoFirma' type='tns:documentNtiTipoFirmaEnumDto'/>
       <xs:element minOccurs='0' name='ntiVersion' type='xs:string'/>
       <xs:element minOccurs='0' name='ubicacio' type='xs:string'/>
       <xs:element name='versioCount' type='xs:int'/>
       <xs:element minOccurs='0' name='versioDarrera' type='xs:string'/>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='versions' nillable='true' type='tns:documentVersioDto'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='documentVersioDto'>
    <xs:complexContent>
     <xs:extension base='tns:auditoriaDto'>
      <xs:sequence>
       <xs:element minOccurs='0' name='arxiuUuid' type='xs:string'/>
       <xs:element minOccurs='0' name='data' type='xs:dateTime'/>
       <xs:element minOccurs='0' name='id' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name='principalTipusEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='USUARI'/>
     <xs:enumeration value='ROL'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='expedientEstatEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='OBERT'/>
     <xs:enumeration value='TANCAT'/>
     <xs:enumeration value='INDEX_REMISSIO'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='multiplicitatEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='M_1'/>
     <xs:enumeration value='M_0_1'/>
     <xs:enumeration value='M_0_N'/>
     <xs:enumeration value='M_1_N'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='metaDadaTipusEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='TEXT'/>
     <xs:enumeration value='DATA'/>
     <xs:enumeration value='IMPORT'/>
     <xs:enumeration value='SENCER'/>
     <xs:enumeration value='FLOTANT'/>
     <xs:enumeration value='BOOLEA'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='documentTipusEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='DIGITAL'/>
     <xs:enumeration value='FISIC'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='documentEstatEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='REDACCIO'/>
     <xs:enumeration value='FIRMA_PENDENT'/>
     <xs:enumeration value='FIRMAT'/>
     <xs:enumeration value='CUSTODIAT'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='documentNtiEstadoElaboracionEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='EE01'/>
     <xs:enumeration value='EE02'/>
     <xs:enumeration value='EE03'/>
     <xs:enumeration value='EE04'/>
     <xs:enumeration value='EE99'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='documentNtiOrigenEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='O0'/>
     <xs:enumeration value='O1'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='documentNtiTipoDocumentalEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='TD01'/>
     <xs:enumeration value='TD02'/>
     <xs:enumeration value='TD03'/>
     <xs:enumeration value='TD04'/>
     <xs:enumeration value='TD05'/>
     <xs:enumeration value='TD06'/>
     <xs:enumeration value='TD07'/>
     <xs:enumeration value='TD08'/>
     <xs:enumeration value='TD09'/>
     <xs:enumeration value='TD10'/>
     <xs:enumeration value='TD11'/>
     <xs:enumeration value='TD12'/>
     <xs:enumeration value='TD13'/>
     <xs:enumeration value='TD14'/>
     <xs:enumeration value='TD15'/>
     <xs:enumeration value='TD16'/>
     <xs:enumeration value='TD17'/>
     <xs:enumeration value='TD18'/>
     <xs:enumeration value='TD19'/>
     <xs:enumeration value='TD20'/>
     <xs:enumeration value='TD99'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='documentNtiTipoFirmaEnumDto'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='TF01'/>
     <xs:enumeration value='TF02'/>
     <xs:enumeration value='TF03'/>
     <xs:enumeration value='TF04'/>
     <xs:enumeration value='TF05'/>
     <xs:enumeration value='TF06'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name='RipeaCarregaTest_modificarMetadadaDocumentResponse'>
  <part element='tns:modificarMetadadaDocumentResponse' name='modificarMetadadaDocumentResponse'></part>
 </message>
 <message name='RipeaCarregaTest_getEntitatIdByCodi'>
  <part element='tns:getEntitatIdByCodi' name='getEntitatIdByCodi'></part>
 </message>
 <message name='RipeaCarregaTest_modificarMetadadaExpedient'>
  <part element='tns:modificarMetadadaExpedient' name='modificarMetadadaExpedient'></part>
 </message>
 <message name='RipeaCarregaTest_modificarMetadadaDocument'>
  <part element='tns:modificarMetadadaDocument' name='modificarMetadadaDocument'></part>
 </message>
 <message name='RipeaCarregaTest_getEntitatIdByCodiResponse'>
  <part element='tns:getEntitatIdByCodiResponse' name='getEntitatIdByCodiResponse'></part>
 </message>
 <message name='RipeaCarregaTest_alliberarExpedientResponse'>
  <part element='tns:alliberarExpedientResponse' name='alliberarExpedientResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearArxiu'>
  <part element='tns:crearArxiu' name='crearArxiu'></part>
 </message>
 <message name='RipeaCarregaTest_crearEntitatResponse'>
  <part element='tns:crearEntitatResponse' name='crearEntitatResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearDocumentTipusResponse'>
  <part element='tns:crearDocumentTipusResponse' name='crearDocumentTipusResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearDocumentMetadataResponse'>
  <part element='tns:crearDocumentMetadataResponse' name='crearDocumentMetadataResponse'></part>
 </message>
 <message name='RipeaCarregaTest_assignaPermisEntitatResponse'>
  <part element='tns:assignaPermisEntitatResponse' name='assignaPermisEntitatResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearDocumentExpedient'>
  <part element='tns:crearDocumentExpedient' name='crearDocumentExpedient'></part>
 </message>
 <message name='RipeaCarregaTest_crearMetaExpedient'>
  <part element='tns:crearMetaExpedient' name='crearMetaExpedient'></part>
 </message>
 <message name='RipeaCarregaTest_crearDocumentMetadata'>
  <part element='tns:crearDocumentMetadata' name='crearDocumentMetadata'></part>
 </message>
 <message name='RipeaCarregaTest_crearExpedientMetadata'>
  <part element='tns:crearExpedientMetadata' name='crearExpedientMetadata'></part>
 </message>
 <message name='RipeaCarregaTest_alliberarExpedient'>
  <part element='tns:alliberarExpedient' name='alliberarExpedient'></part>
 </message>
 <message name='RipeaCarregaTest_crearEntitat'>
  <part element='tns:crearEntitat' name='crearEntitat'></part>
 </message>
 <message name='RipeaCarregaTest_crearExpedientRendimentResponse'>
  <part element='tns:crearExpedientRendimentResponse' name='crearExpedientRendimentResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearAnotacioResponse'>
  <part element='tns:crearAnotacioResponse' name='crearAnotacioResponse'></part>
 </message>
 <message name='RipeaCarregaTest_tancarExpedient'>
  <part element='tns:tancarExpedient' name='tancarExpedient'></part>
 </message>
 <message name='RipeaCarregaTest_crearExpedientResponse'>
  <part element='tns:crearExpedientResponse' name='crearExpedientResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearExpedientMetadataResponse'>
  <part element='tns:crearExpedientMetadataResponse' name='crearExpedientMetadataResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearExpedient'>
  <part element='tns:crearExpedient' name='crearExpedient'></part>
 </message>
 <message name='RipeaCarregaTest_crearArxiuResponse'>
  <part element='tns:crearArxiuResponse' name='crearArxiuResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearExpedientRendiment'>
  <part element='tns:crearExpedientRendiment' name='crearExpedientRendiment'></part>
 </message>
 <message name='RipeaCarregaTest_getEscriptoriId'>
  <part element='tns:getEscriptoriId' name='getEscriptoriId'></part>
 </message>
 <message name='RipeaCarregaTest_crearDocumentExpedientResponse'>
  <part element='tns:crearDocumentExpedientResponse' name='crearDocumentExpedientResponse'></part>
 </message>
 <message name='RipeaCarregaTest_getArxiuIdByNom'>
  <part element='tns:getArxiuIdByNom' name='getArxiuIdByNom'></part>
 </message>
 <message name='RipeaCarregaTest_crearAnotacio'>
  <part element='tns:crearAnotacio' name='crearAnotacio'></part>
 </message>
 <message name='RipeaCarregaTest_assignaPermisEntitat'>
  <part element='tns:assignaPermisEntitat' name='assignaPermisEntitat'></part>
 </message>
 <message name='RipeaCarregaTest_modificarMetadadaExpedientResponse'>
  <part element='tns:modificarMetadadaExpedientResponse' name='modificarMetadadaExpedientResponse'></part>
 </message>
 <message name='RipeaCarregaTest_getEscriptoriIdResponse'>
  <part element='tns:getEscriptoriIdResponse' name='getEscriptoriIdResponse'></part>
 </message>
 <message name='RipeaCarregaTest_getArxiuIdByNomResponse'>
  <part element='tns:getArxiuIdByNomResponse' name='getArxiuIdByNomResponse'></part>
 </message>
 <message name='RipeaCarregaTest_tancarExpedientResponse'>
  <part element='tns:tancarExpedientResponse' name='tancarExpedientResponse'></part>
 </message>
 <message name='RipeaCarregaTest_crearDocumentTipus'>
  <part element='tns:crearDocumentTipus' name='crearDocumentTipus'></part>
 </message>
 <message name='RipeaCarregaTest_crearMetaExpedientResponse'>
  <part element='tns:crearMetaExpedientResponse' name='crearMetaExpedientResponse'></part>
 </message>
 <portType name='RipeaCarregaTest'>
  <operation name='alliberarExpedient' parameterOrder='alliberarExpedient'>
   <input message='tns:RipeaCarregaTest_alliberarExpedient'></input>
   <output message='tns:RipeaCarregaTest_alliberarExpedientResponse'></output>
  </operation>
  <operation name='assignaPermisEntitat' parameterOrder='assignaPermisEntitat'>
   <input message='tns:RipeaCarregaTest_assignaPermisEntitat'></input>
   <output message='tns:RipeaCarregaTest_assignaPermisEntitatResponse'></output>
  </operation>
  <operation name='crearAnotacio' parameterOrder='crearAnotacio'>
   <input message='tns:RipeaCarregaTest_crearAnotacio'></input>
   <output message='tns:RipeaCarregaTest_crearAnotacioResponse'></output>
  </operation>
  <operation name='crearArxiu' parameterOrder='crearArxiu'>
   <input message='tns:RipeaCarregaTest_crearArxiu'></input>
   <output message='tns:RipeaCarregaTest_crearArxiuResponse'></output>
  </operation>
  <operation name='crearDocumentExpedient' parameterOrder='crearDocumentExpedient'>
   <input message='tns:RipeaCarregaTest_crearDocumentExpedient'></input>
   <output message='tns:RipeaCarregaTest_crearDocumentExpedientResponse'></output>
  </operation>
  <operation name='crearDocumentMetadata' parameterOrder='crearDocumentMetadata'>
   <input message='tns:RipeaCarregaTest_crearDocumentMetadata'></input>
   <output message='tns:RipeaCarregaTest_crearDocumentMetadataResponse'></output>
  </operation>
  <operation name='crearDocumentTipus' parameterOrder='crearDocumentTipus'>
   <input message='tns:RipeaCarregaTest_crearDocumentTipus'></input>
   <output message='tns:RipeaCarregaTest_crearDocumentTipusResponse'></output>
  </operation>
  <operation name='crearEntitat' parameterOrder='crearEntitat'>
   <input message='tns:RipeaCarregaTest_crearEntitat'></input>
   <output message='tns:RipeaCarregaTest_crearEntitatResponse'></output>
  </operation>
  <operation name='crearExpedient' parameterOrder='crearExpedient'>
   <input message='tns:RipeaCarregaTest_crearExpedient'></input>
   <output message='tns:RipeaCarregaTest_crearExpedientResponse'></output>
  </operation>
  <operation name='crearExpedientMetadata' parameterOrder='crearExpedientMetadata'>
   <input message='tns:RipeaCarregaTest_crearExpedientMetadata'></input>
   <output message='tns:RipeaCarregaTest_crearExpedientMetadataResponse'></output>
  </operation>
  <operation name='crearExpedientRendiment' parameterOrder='crearExpedientRendiment'>
   <input message='tns:RipeaCarregaTest_crearExpedientRendiment'></input>
   <output message='tns:RipeaCarregaTest_crearExpedientRendimentResponse'></output>
  </operation>
  <operation name='crearMetaExpedient' parameterOrder='crearMetaExpedient'>
   <input message='tns:RipeaCarregaTest_crearMetaExpedient'></input>
   <output message='tns:RipeaCarregaTest_crearMetaExpedientResponse'></output>
  </operation>
  <operation name='getArxiuIdByNom' parameterOrder='getArxiuIdByNom'>
   <input message='tns:RipeaCarregaTest_getArxiuIdByNom'></input>
   <output message='tns:RipeaCarregaTest_getArxiuIdByNomResponse'></output>
  </operation>
  <operation name='getEntitatIdByCodi' parameterOrder='getEntitatIdByCodi'>
   <input message='tns:RipeaCarregaTest_getEntitatIdByCodi'></input>
   <output message='tns:RipeaCarregaTest_getEntitatIdByCodiResponse'></output>
  </operation>
  <operation name='getEscriptoriId' parameterOrder='getEscriptoriId'>
   <input message='tns:RipeaCarregaTest_getEscriptoriId'></input>
   <output message='tns:RipeaCarregaTest_getEscriptoriIdResponse'></output>
  </operation>
  <operation name='modificarMetadadaDocument' parameterOrder='modificarMetadadaDocument'>
   <input message='tns:RipeaCarregaTest_modificarMetadadaDocument'></input>
   <output message='tns:RipeaCarregaTest_modificarMetadadaDocumentResponse'></output>
  </operation>
  <operation name='modificarMetadadaExpedient' parameterOrder='modificarMetadadaExpedient'>
   <input message='tns:RipeaCarregaTest_modificarMetadadaExpedient'></input>
   <output message='tns:RipeaCarregaTest_modificarMetadadaExpedientResponse'></output>
  </operation>
  <operation name='tancarExpedient' parameterOrder='tancarExpedient'>
   <input message='tns:RipeaCarregaTest_tancarExpedient'></input>
   <output message='tns:RipeaCarregaTest_tancarExpedientResponse'></output>
  </operation>
 </portType>
 <binding name='RipeaCarregaTestBinding' type='tns:RipeaCarregaTest'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='alliberarExpedient'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='assignaPermisEntitat'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearAnotacio'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearArxiu'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearDocumentExpedient'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearDocumentMetadata'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearDocumentTipus'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearEntitat'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearExpedient'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearExpedientMetadata'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearExpedientRendiment'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='crearMetaExpedient'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getArxiuIdByNom'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getEntitatIdByCodi'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getEscriptoriId'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='modificarMetadadaDocument'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='modificarMetadadaExpedient'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='tancarExpedient'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='RipeaCarregaTest'>
  <port binding='tns:RipeaCarregaTestBinding' name='RipeaCarregaTestPort'>
   <soap:address location='http://localhost:8080/ripea/ws/ripeaCarregaTest'/>
  </port>
 </service>
</definitions>